.App {
  text-align: center;
}

#btn_restart {
  display: none;
}

input {
  font-size: 20px;
}

button {
  font-size: 20px;
}

#data_table {
  width:50%
}

#mycanvas {
  width:600px;
  height:300px;
  border:1px solid #000000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  border-style: solid;
  border-color: white;
  width: 500px;
  height: 50px;
  border-radius: 15px;
  text-decoration: none;
}